.root{
    padding: 0;
    position:relative;
    top:5vh;
}

.message{
    transform: translateY(-50%) translateX(-50%);
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
}

.Logo {
    padding: 24px;
    height: 150px;
    font-family: cursive;
    font-size: 70px;
}

.Logo img {
    height: 100%;
    padding: 10px;
}